body,
html {
    position: fixed;
    width: 100%;

}

.canvas {
    width: 100%;
    height: 600px;
    background-color: black;

    /* 
     * to override global touch actions:
     */
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


#homebutton {
  background-color: #333333;
  margin: 10px 53px;
  position: absolute;
  width: 234px;
  height: 30px;
}

#hidebutton {

  background-color: #333333;
  margin: 53px 10px;
  position: absolute;
  width: 30px;
  height: 154px;

}


.cover {
  background-color: black;
  border-radius: 2px;
  padding: 3px;
  margin: 50px 50px; /* y, x offset from parent element */

  position: absolute;

  width: 240px;
  height: 160px;

  z-index: 10;

}



.resize-drag {
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 2px;
  padding: 3px;
  margin: 50px 50px; /* y, x offset from parent element */

  position: absolute;

  width: 240px;

  z-index: 5;

  /* This makes things *much* easier */
  box-sizing: border-box;
}

.resize-container {
  display: inline-block;
  width: 100%;
  height: 840px;
}







#drag-1, #drag-2 {
  width: 25%;
  height: 25%;
  min-height: 6.5em;
  margin: 10%;

  background-color: #29e;
  color: white;

  border-radius: 0.75em;
  padding: 4%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}




